/* src/index.css */
:root {
  --font-family: system-ui, sans-serif;
  --background-color: #fafafa;
  --text-color: #222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  background-color: #090033;
}



